<div class="col-12 col-md-9 col-lg-6">
  <h3><%= title %></h3>

  <%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

      <div class='form-group'>
      <%= form.label :uid %>
      <%= form.text_field :uid, class: 'form-control', placeholder: true %>
    </div>

    <div class='form-group'>
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control', placeholder: true %>
    </div>

    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control', placeholder: true %>
    </div>

    <div class='form-group'>
      <%= form.label :role %>
      <%= form.text_field :role, class: 'form-control', placeholder: true %>
    </div>

    <%= form.submit t('action.save'), class: "btn btn-primary" %>
    <%= link_to t('action.back'), users_path, class: "btn btn-secondary" %>
  <% end %>
</div>