<h2 class="manual_title"><%= @manual.title %></h2>

<%= content_tag :div, nil, id: "manual", data: {'initial-state' => manual_data(@manual)} %>

<div class="manual_details">
  <p>
    <strong><%= Manual.human_attribute_name("category") %>:</strong>
    <%= @manual.category.title %>
    <br>
    <strong><%= Manual.human_attribute_name("author") %>:</strong>
    <%= @manual.user %>
    <br>
    <strong><%= Manual.human_attribute_name("created_at") %>:</strong>
    <%= @manual.created_at.to_date%>
    <br>
    <strong><%= Manual.human_attribute_name("updated_at") %>:</strong>
    <%= @manual.updated_at.to_time%>
  </p>
</div>