<div class="container sign_in_form">
  <div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h3><%= t('action.devise.log_in') %></h3>
    <%= f.label :uid, 'Email Address', class: 'sr-only' %>
    <%= f.email_field :uid, autofocus: true, class: 'form-control', placeholder: t('view.devise.email'), required: true %>

    <%= f.label :password, 'Password', class: 'sr-only' %>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: t('view.devise.password'), required: true %>

    <% if devise_mapping.rememberable? -%>
      <label>
        <%= f.check_box :remember_me %>
        <%= f.label t('view.devise.remember_me') %>
      </label>
    <% end -%>

    <%= f.button t('action.devise.log_in'), class: 'btn btn-lg btn-primary btn-block' %>

        <%= render "devise/shared/links" %>
        <%= render "devise/shared/social_buttons" %>
  <% end %>
  </div>
</div>
