<div class="col-12 col-md-9 col-lg-6">
  <h3><%= title %></h3>
  <%= form_with(model: category, local: true) do |form| %>
    <% if category.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class='form-group'>
      <%= form.label :title %>
      <%= form.text_field :title, class: 'form-control', placeholder: true %>
    </div>

    <%= form.submit t('action.save'), class: "btn btn-primary" %>
    <%= link_to t('action.back'), categories_path, class: "btn btn-secondary" %>
  <% end %>
</div>
