<h3><%= t('view.category.details') %>:</h3>

<p>
  <strong><%= Category.human_attribute_name("title") %>:</strong>
  <%= @category.title %>
</p>

<%= link_to t('action.edit'), edit_category_path(@category) %> |
<%= link_to t('action.back'), categories_path %>
